@model System.Collections.Generic.IEnumerable<LogisticSolutions.Models.GetReceiptsViewModel>

@{
    ViewBag.Title = "title";
}

<h2>Przesyłki do odebrania</h2>

<table>
    @foreach (var delivery in Model)
    {
        <tr>
            <th>Nr przesyłki:</th>
            <th>Nazwa odbiorcy:</th>
            <th>Osoba kontaktowa:</th>
            <th>Adres:</th>
            <th>Miasto:</th>
            <th>Kod pocztowy:</th>
            <th>Akcja:</th>
        </tr>
        <tr>
            <td>@delivery.DeliveryNumber</td>
            <td>@delivery.Name</td>
            <td>@delivery.ContactPerson</td>
            <td>@delivery.AddressLine1 @delivery.AddressLine2</td>
            <td>@delivery.City</td>
            <td>@delivery.PostalCode</td>
            <td>@Ajax.ActionLink("Zrób odbiór", "Receipt", new {Controller = "Courier", deliveryId = delivery.DeliveryNumber}, new AjaxOptions() {HttpMethod = "POST"})</td>
            <td>@Ajax.ActionLink("Zdaj na magazyn", "PassToWarehouse", new {Controller = "Courier", deliveryId = delivery.DeliveryNumber}, new AjaxOptions() {HttpMethod = "POST"})</td>
        </tr>
    }
</table>