<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Logistics Solutions</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#">
                    Logistics Solutions
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.Partial("AdminMenu")
                        @Html.Partial("WarehousemanMenu")
                        @Html.Partial("CourierMenu")
                        @Html.Partial("CustomerMenu")
                    }
                    else if (User.IsInRole("Warehouseman"))
                    {
                        @Html.Partial("WarehousemanMenu")
                    }
                    else if (User.IsInRole("Courier"))
                    {
                        @Html.Partial("CourierMenu")
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        @Html.Partial("CustomerMenu")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    @RenderBody()
    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - Logistics Solutions</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryuno")
    @RenderSection("scripts", required: false)
</body>
</html>
