@model LogisticSolutions.Models.Delivery

@{
    ViewBag.Title = "Zleć odbiór przesyłki";
}

<h2>Zleć odbiór przesyłki</h2>

@using (Html.BeginForm("AddDelivery", "Delivery", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="col-md-6">
        <h4>Adres odbioru paczki:</h4>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.Name, "Nazwa odbiorcy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.Name, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.Phone, "Telefon:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.Phone, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.Email, "Email:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.Email, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.ContactPerson, "Osoba kontaktowa:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.ContactPerson, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.AddressLine1, "Adres l1:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.AddressLine1, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.AddressLine2, "Adres l2:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.AddressLine2, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.PostalCode, "Kod pocztowy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.PostalCode, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddress.City, "Miasto:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddress.City, new {@class = "form-control"})
            </div>
        </div>
    </div>

    <div class="col-md-6">


        <h4>Adres doręczenia paczki:</h4>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.Name, "Nazwa odbiorcy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.Name, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.Phone, "Telefon:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.Phone, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.Email, "Email:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.Email, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.ContactPerson, "Osoba kontaktowa:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.ContactPerson, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.AddressLine1, "Adres l1:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.AddressLine1, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.AddressLine2, "Adres l2:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.AddressLine2, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.PostalCode, "Kod pocztowy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.PostalCode, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddress.City, "Miasto:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddress.City, new {@class = "form-control"})
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Zatwierdź</button>
        </div>
    </div>
}


