@model LogisticSolutions.Models.AddDeliveryViewModel

@{
    ViewBag.Title = "Zleć odbiór przesyłki";
}

<h2>Zleć odbiór przesyłki</h2>

@using (Html.BeginForm("AddDelivery", "Delivery", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    
    <div class="col-md-6">
        <h4>Adres odbioru paczki:</h4>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressName, "Nazwa odbiorcy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressName, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressPhone, "Telefon:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressPhone, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressEmail, "Email:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressEmail, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressContactPerson, "Osoba kontaktowa:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressContactPerson, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressAddressLine1, "Adres l1:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressAddressLine1, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressAddressLine2, "Adres l2:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressAddressLine2, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressPostalCode, "Kod pocztowy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressPostalCode, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.PickupAddressCity, "Miasto:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.PickupAddressCity, new {@class = "form-control"})
            </div>
        </div>
    </div>

    <div class="col-md-6">


        <h4>Adres doręczenia paczki:</h4>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressName, "Nazwa odbiorcy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressName, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressPhone, "Telefon:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressPhone, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressEmail, "Email:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressEmail, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressContactPerson, "Osoba kontaktowa:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressContactPerson, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressAddressLine1, "Adres l1:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressAddressLine1, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressAddressLine2, "Adres l2:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressAddressLine2, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressPostalCode, "Kod pocztowy:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressPostalCode, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.DestinationAddressCity, "Miasto:", new {@class = "col-sm-2 control-label"})
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.DestinationAddressCity, new {@class = "form-control"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Width, "Szerokość:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.Width, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Length, "Długość:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.Length, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Height, "Wysokość:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.Height, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Weight, "Waga:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.Weight, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.ReceiptDate, "Data odbioru:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.ReceiptDate, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.DeliveryDate, "Data dostawy:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.DeliveryDate, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.Content, "Zawartość:", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.Content, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(d => d.AdditionalInfo, "Dodatkowe informacje:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(d => d.AdditionalInfo, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Zatwierdź</button>
        </div>
    </div>
}


