@using LogisticSolutions.Helpers
@using LogisticSolutions.Models

@model IEnumerable<DeliveryViewModel>

@{
    ViewBag.Title = "Śledzenie przesyłki";
}

<h2>Śledzenie przesyłki</h2>

<table>
    @foreach (var delivery in Model)
    {
        <tr>
            <th>Numer przesyłki:</th>
            <th>Miasto odbioru:</th>
            <th>Miasto doręczenia:</th>
            <th>Status:</th>
        </tr>
        <tr>
            <td>@delivery.Number</td>
            <td>@delivery.PickupAddress.City</td>
            <td>@delivery.DestinationAddress.City</td>
            <td>@delivery.Status.GetDisplayName()</td>
            <td>@Html.ActionLink("Więcej informacji...", "TrackingDetails", new {Controller ="Delivery", id = delivery.Number })</td>
        </tr>
    }
</table>